/bin
/obj
/node_modules
/School_Management_System.Tests/bin
/School_Management_System.Tests/obj
/School_Management_System.Core/bin
/School_Management_System.Core/obj
/School_Management_System.Infrastructure/bin
/School_Management_System.Infrastructure/obj